In [1]:
# import wmfdata as wmf
import wmfdata as wmf
from wmfdata import charting, mariadb, hive, spark
from wmfdata.utils import pct_str, pd_display_all

In [3]:
#https://www.wikidata.org/wiki/Help:Sitelinks
#https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q42&props=sitelinks

#https://pa.wikipedia.org/wiki/%E0%A8%A6%E0%A9%87%E0%A8%B5%E0%A8%BF%E0%A8%95%E0%A8%BE_%E0%A8%B0%E0%A8%BE%E0%A8%A3%E0%A9%80
#https://xtools.wmflabs.org/articleinfo/pa.wikipedia.org/%E0%A8%A6%E0%A9%87%E0%A8%B5%E0%A8%BF%E0%A8%95%E0%A8%BE_%E0%A8%B0%E0%A8%BE%E0%A8%A3%E0%A9%80

iwl_r = wmf.mariadb.run("""
SELECT
  linked_item.ips_item_id AS QID,
  GROUP_CONCAT(ips_site_id SEPARATOR ', ') AS iwsites,
  COUNT(ips_site_page) AS iwsitelinks
FROM (
      SELECT ips_item_id
      FROM wb_items_per_site
      WHERE ips_item_id = '465060'
      AND ips_site_id = 'pawiki'
    ) AS linked_item
LEFT JOIN wb_items_per_site 
  ON linked_item.ips_item_id = wb_items_per_site.ips_item_id
LEFT JOIN page 
  ON linked_item.ips_item_id = page.page_id
GROUP BY page_id
""", "wikidatawiki")

In [4]:
iwl_r

      QID                                            iwsites  iwsitelinks
0  465060  hiwiki, enwiki, urwiki, idwiki, pnbwiki, kowik...           27

nppt_articles_edits.groupby(['database_code']).agg(['nunique'])

In [44]:
df_ci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9772 entries, 0 to 9771
Data columns (total 4 columns):
page_title       9173 non-null object
language_name    9772 non-null object
database_code    9772 non-null object
language_code    9772 non-null object
dtypes: object(4)
memory usage: 381.7+ KB

In [ ]:
df_ci['language_code'].unique()

In [ ]:
wikis = tuple(list(nnpt['database_code'].unique()))

wd_vars.update({'wikis': wikis})

In [ ]:
pawiki_titles_normalized = tuple(list(nnpt.loc[nnpt['database_code'] == 'pawiki', 'page_title']))

#update the query variable to use it in queries
wd_vars.update({'pawiki_titles_normalized': pawiki_titles_normalized,
                })
pa_ids_r = wmf.mariadb.run(get_ids_query.format(titles_normalized = pawiki_titles_normalized), 'pawiki')
#add dbcolumn to each query df
pa_ids_r['database_code'] = 'pawiki' 

nppt_ids = pd.concat([pa_ids_r, 
                      ml_ids_r,
                      hi_ids_r,
                      or_ids_r,
                      ur_ids_r,
                      ta_ids_r,
                      kn_ids_r,
                      mr_ids_r,
                      gu_ids_r,
                      te_ids_r,
                      bn_ids_r,
                     ], sort=True, ignore_index=True)

nppt_ids.reset_index(drop=True);

In [ ]:
aswiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'aswiki', 'page_title']))
bnwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'bnwiki', 'page_title']))
guwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'guwiki', 'page_title']))
hiwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'hiwiki', 'page_title']))
knwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'knwiki', 'page_title']))
mlwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'mlwiki', 'page_title']))
mrwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'mrwiki', 'page_title']))
orwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'orwiki', 'page_title']))
pawiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'pawiki', 'page_title']))
sawiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'sawiki', 'page_title']))
satwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'satwiki', 'page_title']))
tawiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'tawiki', 'page_title']))
tewiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'tewiki', 'page_title']))
tcywiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'tcywiki', 'page_title']))
urwiki_titles_normalized = tuple(list(articles_s.loc[articles_s['language_code'] == 'urwiki', 'page_title']))

In [6]:
#create a dict of DataFrames by convert groupby object to tuples and then to dict:
GLOW_India_article_lists_dict = dict(tuple(articles_s.groupby('language_code'))) #wiki is a 2 letter code dict(tuple(CIS_submission.groupby('wiki'))) #wiki is a 2 letter code

In [13]:
t = GLOW_India_article_lists_dict = tuple(articles_s.groupby('language_code')) #wiki is a 2 letter code dict(tuple(CIS_submission.groupby('wiki'))) #wiki is a 2 letter code

In [15]:
t[0]

('as',                   page_title language_code
 0        আনোৱাৰুদ্দিন চৌধুৰী            as
 1              কাৱঁড় যাত্ৰা            as
 2                      ভটিমা            as
 3            বগা বাবাৰ মাজাৰ            as
 4                  পোৱামক্কা            as
 ..                       ...           ...
 205            টিলিঙা মন্দিৰ            as
 206                      NaN            as
 207  সুব্ৰহ্মণ্যন চন্দ্ৰশেখৰ            as
 208                      NaN            as
 209   অসম ৰাজ্যিক সংগ্ৰহালয়            as

 [210 rows x 2 columns])

In [ ]:
#df with 2 columns, wiki and titles, where titles are a list of values
GLOW_India_article_lists_dict = articles_s.groupby('language_code').titles.apply(list).reset_index()

def raw_pageids():
    for each unique x in column:
        page_ids = tuple(list(CIS_submission ['page_id']))

def raw_pageids2():
    for k in GLOW_India_article_lists_df:
        page_ds = tuple(list(k[value]))
        
def run_code():
    for list in GLOW_India_article_lists2:
        run code below

GLOW_India_article_lists_df

#TODO Incentive type > categorical (can do ordering with pandas)..but Hive may not allow for categorical. parquet maybe

1. Get list of articles from WAM and WLW and filter those out from the GLOW data. 
2. Get list of last years editors
3. get list of jury? >> seperate table - jury

In [8]:
wi = {
    'PA': {'title' : 'ਮੁੱਖ_ਸਫ਼ਾ', 'namespace': 0},
    'ML': {'title' :'പ്രധാന_താൾ', 'namespace': 0},
    'BN': {'title' : 'প্রধান_পাতা', 'namespace': 0},
    'HI': {'title' : 'मुखपृष्ठ', 'namespace': 0},
    'PNB': {'title' : 'پہلا_صفہ', 'namespace': 0},
    'TA': {'title' : 'முதற்_பக்கம்', 'namespace': 0},
    'TE': {'title' : 'మొదటి_పేజీ', 'namespace': 0}, 
    'AS': {'title' : 'বেটুপাত', 'namespace': 0},
    'SA': {'title' : 'मुख्यपृष्ठम्', 'namespace': 0},
    'KN': {'title' : 'ಮುಖ್ಯ_ಪುಟ', 'namespace': 0},
    'TCY': {'title' : 'ಮುಖ್ಯ_ಪುಟ', 'namespace': 0},
    'GU': {'title' : 'મુખપૃષ્ઠ', 'namespace': 0},
    'BN': {'title' : 'প্রধান_পাতা', 'namespace': 0},
    'MR': {'title' : 'मुखपृष्ठ', 'namespace': 0},
    'SAT': {'title' : 'ᱢᱩᱬᱩᱛ_ᱥᱟᱦᱴᱟ', 'namespace': 0},
    'UR': {'title' : 'صفحۂ_اول', 'namespace': 0}, 
    'OR': {'title' : 'ପ୍ରଧାନ_ପୃଷ୍ଠା', 'namespace': 0}   
}

In [ ]:
wi = {
        {'Punjabi': 'PA', mainpage = {'mainpage_title' : 'ਮੁੱਖ_ਸਫ਼ਾ', 'mainpage_namespace': 0}},
        {'PNB' 
        mainpage = {'mainpage_title' : 'پہلا_صفہ', 'mainpage_namespace': 0}
        
        {'Malayalam': 'ML', mainpage = {'mainpage_title' :'പ്രധാന_താൾ', 'mainpage_namespace': 0}},
        {'Bengali':  'BN', mainpage = {'mainpage_title' : 'প্রধান_পাতা', 'mainpage_namespace': 0}},
        {'Hindi': 'HI', mainpage = {'mainpage_title' : 'मुखपृष्ठ', 'mainpage_namespace': 0}},
        {'Tamil': 'TA', mainpage = {'mainpage_title' : 'முதற்_பக்கம்', 'mainpage_namespace': 0}},
        {'Telugu': 'TE', mainpage = {'mainpage_title' : 'మొదటి_పేజీ', 'mainpage_namespace': 0}}, 
        {'Assamese': 'AS', mainpage = {'mainpage_title' : 'বেটুপাত', 'mainpage_namespace': 0}},
        {'Sanskrit': 'SA', mainpage = {'mainpage_title' : 'मुख्यपृष्ठम्', 'mainpage_namespace': 0}},
        {'Kannada': 'KN', mainpage = {'mainpage_title' : 'ಮುಖ್ಯ_ಪುಟ', 'mainpage_namespace': 0}},
        {'Gujarati': 'GU', mainpage = {'mainpage_title' : 'મુખપૃષ્ઠ', 'mainpage_namespace': 0}},
        {'Bengali': 'BN', mainpage = {'mainpage_title' : 'প্রধান_পাতা', 'mainpage_namespace': 0}},
        {'Tulu': 'TCY', mainpage = {'mainpage_title' : 'ಮುಖ್ಯ_ಪುಟ', 'mainpage_namespace': 0}},
        {'Marathi': 'MR', mainpage = {'mainpage_title' : 'मुखपृष्ठ', 'mainpage_namespace': 0}},
        {'Santali': 'SAT', mainpage = {'mainpage_title' : 'ᱢᱩᱬᱩᱛ_ᱥᱟᱦᱴᱟ', 'mainpage_namespace': 0}},
        {'Urdu': 'UR', mainpage = {'mainpage_title' : 'صفحۂ_اول', 'mainpage_namespace': 0}}, 
        {'Odia': 'OR', mainpage = {'mainpage_title' : 'ପ୍ରଧାନ_ପୃଷ୍ଠା', 'mainpage_namespace': 0}}   

}

In [ ]:
wi2 = {
    'PA': {
            'wikiname': 'Punjabi'
            'mainpage_title' : 'ਮੁੱਖ_ਸਫ਼ਾ', 
            'mainpage_namespace': 0},
    
    'ML': {'wikiname': 'Malayalam'
        'mainpage_title' :'പ്രധാന_താൾ', 
           'mainpage_namespace': 0},
           
    'BN': {'wikiname': 'Bengali'
           'mainpage_title' : 'প্রধান_পাতা', 
           'mainpage_namespace': 0},
           
    'HI': {'wikiname': 'Hindi'
           'mainpage_title' : 'मुखपृष्ठ', 
           'mainpage_namespace': 0},
           
    'PNB': {'wikiname': 
           'mainpage_title' : 'پہلا_صفہ', 
            'mainpage_namespace': 0},
            
    'TA': {'wikiname': 'Tamil'
           'mainpage_title' : 'முதற்_பக்கம்', 
           'mainpage_namespace': 0},
           
    'TE': {'wikiname': 'Telugu'
        'mainpage_title' : 'మొదటి_పేజీ', 
           'mainpage_namespace': 0}, 
           
    'AS': {'wikiname': 'Assamese'
           'mainpage_title' : 'বেটুপাত', 
           'mainpage_namespace': 0},
           
    'SA': {'wikiname': 'Sanskrit'
           'mainpage_title' : 'मुख्यपृष्ठम्', 
           'mainpage_namespace': 0},
           
    'KN': {'wikiname': 'Kannada'
           'mainpage_title' : 'ಮುಖ್ಯ_ಪುಟ', 
           'mainpage_namespace': 0},
            
    'GU': {'wikiname':  'Gujarati'
           'mainpage_title' : 'મુખપૃષ્ઠ', 
           'mainpage_namespace': 0},
           
    'BN': {'wikiname': 'Bengali'
           'mainpage_title' : 'প্রধান_পাতা', 
           'mainpage_namespace': 0},
           
    'TCY': {'wikiname': 'Tulu'
           'mainpage_title' : 'ಮುಖ್ಯ_ಪುಟ', 
            'mainpage_namespace': 0},
            
    'MR': {'wikiname': 'Marathi'
           'mainpage_title' : 'मुखपृष्ठ', 
           'mainpage_namespace': 0},
           
    'SAT': {'wikiname': 'Santali'
           'mainpage_title' : 'ᱢᱩᱬᱩᱛ_ᱥᱟᱦᱴᱟ', 
            'mainpage_namespace': 0},
            
    'UR': {'wikiname': 'Urdu'
           'mainpage_title' : 'صفحۂ_اول', 
           'mainpage_namespace': 0}, 
           
    'OR': {'wikiname':'Odia'
           'mainpage_title' : 'ପ୍ରଧାନ_ପୃଷ୍ଠା', 
           'mainpage_namespace': 0}   

}

In [121]:
#check for dupes
z = len(idc)-idc.nunique()

In [122]:
z

article_name     288
contest_code    8788
dateAdded         13
finish          8810
start           8812
user_name       8432
wiki            8802
dtype: int64

In [111]:
idc_r.columns.to_list()

['article_name',
 'contest_code',
 'dateAdded',
 'finish',
 'jury',
 'start',
 'user_name',
 'wiki']

try:
                get_date = driver.find_element_by_xpath(date_xpath).text
                get_wiki_name = driver.find_elements_by_xpath (wiki_xpath)
                get_article_count = driver.find_elements_by_xpath (ac_xpath)
            
            
                ac_dict['date'] = date = get_date
                ac_dict['lang'] = "".join([element.text for element in get_wiki_name]) 
                ac_dict['count'] = "".join([element.text for element in get_article_count]) 
            
            except Exception:
                pass
            
           
            #print(ac_dict)
            t_ac.append(ac_dict.copy())

#prettify data
lens = [len(item) for item in core['articles']]
df = pd.DataFrame({
    'wiki':np.repeat(core['wiki'].values, lens),
    'code':np.repeat(core['code'].values, lens),
    'finish':np.repeat(core['finish'].values, lens),
    'start':np.repeat(core['start'].values, lens),
    'jury':np.repeat(core['jury'].values, lens),
    'articles':np.hstack(core['articles']),
                      })
df = pd.concat([df_out.drop(['articles'], axis=1), df_out['articles'].apply(pd.Series)],axis=1)
df = df[['wiki', 'code', 'start', 'finish', 'jury', 'dateAdded', 'name', 'user']]
df.columns = ['wiki', 'code', 'start', 'finish', 'jury', 'dateAdded', 'article_name', 'editor']

In [ ]:
'BN': {'title' : 'প্রধান_পাতা', 'namespace': 0},
'PNB': {'title' : 'پہلا_صفہ', 'namespace': 0},
'AS': {'title' : 'বেটুপাত', 'namespace': 0},
'SA': {'title' : 'मुख्यपृष्ठम्', 'namespace': 0},
'TCY': {'title' : 'ಮುಖ್ಯ_ಪುಟ', 'namespace': 0},

'GU': {'title' : 'મુખપૃષ્ઠ', 'namespace': 0},
'BN': {'title' : 'প্রধান_পাতা', 'namespace': 0},


'ML': {'title' :'പ്രധാന_താൾ', 'namespace': 0},
'PA': {'title' : 'ਮੁੱਖ_ਸਫ਼ਾ', 'namespace': 0},
'SAT': {'title' : 'ᱢᱩᱬᱩᱛ_ᱥᱟᱦᱴᱟ', 'namespace': 0},
'UR': {'title' : 'صفحۂ_اول', 'namespace': 0}, 
'TA': {'title' : 'முதற்_பக்கம்', 'namespace': 0},
'TE': {'title' : 'మొదటి_పేజీ', 'namespace': 0}, 
'OR': {'title' : 'ପ୍ରଧାନ_ପୃଷ୍ଠା', 'namespace': 0} 
'MR': {'title' : 'मुखपृष्ठ', 'namespace': 0},
'KN': {'title' : 'ಮುಖ್ಯ_ಪುಟ', 'namespace': 0},
'HI': {'title' : 'मुखपृष्ठ', 'namespace': 0},

In [60]:
contests = {'wlw_2019':{'url_base': 'https://tools.wmflabs.org/fountain/editathons/wlwsa2020-{}','urls': []},
            'ptp_2018':{'url_base': 'https://tools.wmflabs.org/fountain/api/editathons/project-tiger-2018-{}','urls':[]},
            'wam_2019':{'url_base': 'https://tools.wmflabs.org/fountain/editathons/asian-month-2019-{}', 'urls':[] }}

In [69]:
#https://stackoverflow.com/questions/9807634/find-all-occurrences-of-a-key-in-nested-dictionaries-and-lists
def gen_dict_extract(key, var):
    if hasattr(var,'items'):
        for k, v in var.items():
            if k == key:
                yield v
            if isinstance(v, dict):
                for result in gen_dict_extract(key, v):
                    yield result
            elif isinstance(v, list):
                for d in v:
                    for result in gen_dict_extract(key, d):
                        yield result

In [22]:
#attempt to get it to work for a dict of urls and add values back into dictionary

#get working urls
wikicodes = ['bn', 'ur', 'te', 'ta', 'sat', 'pa', 'mr', 'ml', 'kn', 'hi', 'gu', 'pnb', 'tcy', 'as', 'or','ml_or']

url_bases = ['https://tools.wmflabs.org/fountain/api/editathons/project-tiger-2018-',
            'https://tools.wmflabs.org/fountain/editathons/wlwsa2020-', #wlw_campaigns_2019
            'https://tools.wmflabs.org/fountain/editathons/asian-month-2019-']

url_bases_gen = list(gen_dict_extract('url_base', contests))

for url in url_bases_gen:
    urls_to_review = list()
    for wikicode in wikicodes:
        urls = (url_base.format(wikicode))
        urls_to_review.append(urls)

        #'https://tools.wmflabs.org/fountain/api/editathons/project-tiger-2018-'
        #'https://tools.wmflabs.org/fountain/editathons/wlwsa2020-' #wlw_campaigns_2019

    not_found_urls = list()
    # Iterate here on the urls
    # The below code could be executed for each url
    for url in urls_to_review:
        r = requests.get(url)
        if r.status_code == 404:
            not_found_urls.append(url)

    working_urls = list(set(urls_to_review)-set(not_found_urls))
    
    ### create new list of urls for each url in url_bases_gen

'https://tools.wmflabs.org/fountain/editathons/asian-month-2019-'

Aneurysm	'hiwiki'	'धमनी_विस्फार' 
Flax	'guwiki'	'અળશી'
Root_canal_treatment	'tawiki'	'பல்லுட்புறச்_சிகிச்சை'
Victoria_Memorial,_Kolkata	'mrwiki'	'व्हिक्टोरिया_मेमोरियल'
Sunil_Kumar_Desai	'knwiki'	'ಸುನೀಲ್_ಕುಮಾರ್_ದೇಸಾಯಿ'
James_Ellsworth	'tawiki'	'சேம்சு_எல்சுவர்த்'
International_Mother_Language_Day	'tewiki'	'అంతర్జాతీయ_మాతృభాషా_దినోత్సవం'
Li-Fi	'bnwiki'	'লাই-ফাই'

In [26]:
import pandas as pd 
  
# initialize list of lists 
data = [['hiwiki', 'धमनी_विस्फार'], 
['guwiki', 'અળશી'],
['tawiki', 'பல்லுட்புறச்_சிகிச்சை'],
['mrwiki', 'व्हिक्टोरिया_मेमोरियल'],
['knwiki', 'ಸುನೀಲ್_ಕುಮಾರ್_ದೇಸಾಯಿ'],
['tawiki', 'சேம்சு_எல்சுவர்த்'],
['tewiki', 'అంతర్జాతీయ_మాతృభాషా_దినోత్సవం'],
['bnwiki', 'লাই-ফাই']]

# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['db_code', 'page_title'])

In [27]:
df

  db_code                     page_title
0  hiwiki                   धमनी_विस्फार
1  guwiki                           અળશી
2  tawiki          பல்லுட்புறச்_சிகிச்சை
3  mrwiki          व्हिक्टोरिया_मेमोरियल
4  knwiki           ಸುನೀಲ್_ಕುಮಾರ್_ದೇಸಾಯಿ
5  tawiki              சேம்சு_எல்சுவர்த்
6  tewiki  అంతర్జాతీయ_మాతృభాషా_దినోత్సవం
7  bnwiki                        লাই-ফাই

In [29]:
grouped = df.groupby('db_code', sort=False)
grouped.get_group('hiwiki')

  db_code    page_title
0  hiwiki  धमनी_विस्फार

In [5]:
#db = df['wiki_code']
    
def gather_data(df, db, page_title):
        
    '''
    Gather article IDs and edit date information. 
    :param database: the name of the database to use
    :type database: str
    :param page_titles: list of page_titles to gather data for
    :type page_titles: str
    :param start_date: First date to gather data for
    :type start_date: datetime.date
    :param end_date: Last date to gather data for
    :type end_date: datetime.date
    '''

    get_ids_query = """
    SELECT 
           p1.page_id  AS page_id,
           p1.page_title AS page_title,
           p1.page_is_redirect AS p1_is_redirect,
           p2.page_id AS rpage_id,
           p2.page_title AS rpage_title,
           p2.page_len rpage_len,
           p2.page_is_redirect AS is_double_redirect
    FROM page AS p1 
    LEFT JOIN redirect AS rd 
        ON p1.page_id=rd.rd_from 
    LEFT JOIN page AS p2 
        ON (rd_namespace = p2.page_namespace)
            AND rd_title = p2.page_title  
    WHERE p1.page_namespace = 0
          AND p1.page_title IN {titles_normalized}
    """

    for row in df:
        ids_r = wmf.mariadb.run(get_ids_query.format(titles_normalized = df['page_title']), db=df['wiki_code'])
        return ids_r

In [ ]:
gather_data(df=df, db=db, page_title=df['page_title'])

In [3]:
import pandas as pd
import wmfdata as wmf 
from wmfdata import charting, mariadb, hive
from wmfdata.utils import pct_str, pd_display_all

In [23]:
## SQL query to get data on partial blocks, adapted from
## https://github.com/dayllanmaza/wikireplicas-reports/blob/master/generators/partial_blocks.py

def get_data(dataframe):
    get_ids_query = '''
    SELECT 
           p1.page_id  AS page_id,
           p1.page_title AS page_title,
           p1.page_is_redirect AS p1_is_redirect,
           p2.page_id AS rpage_id,
           p2.page_title AS rpage_title,
           p2.page_len rpage_len,
           p2.page_is_redirect AS is_double_redirect
    FROM page AS p1 
    LEFT JOIN redirect AS rd 
        ON p1.page_id=rd.rd_from 
    LEFT JOIN page AS p2 
        ON (rd_namespace = p2.page_namespace)
            AND rd_title = p2.page_title  
    WHERE p1.page_namespace = 0
          AND p1.page_title IN '{titles_normalized}'
    '''
    
    pbs = []
    for row in dataframe:
        ids_r = wmf.mariadb.run(get_ids_query.format(
            titles_normalized = df['page_title']), 
            db=df['wiki_code'])
        pbs.append(ids_r)
    return(pd.concat(pbs))

In [24]:
get_data(df)

NameError: name 'wmf' is not defined

In [ ]:
        df = pd.read_sql_query(
            pb_query.format(
                titles_normalized = df[article_title],
                db = df[wiki_code]),
            df[wiki_code])

        pbs.append(df)
    
    return(pd.concat(pbs))

In [ ]:
#    if not end_date:
#        end_date = dt.date.today()
# with db as data['wiki_db']: 

db = df['wiki_code']
    
def gather_data(df, db, page_title):
        
    '''
    Gather article IDs and edit date information. 
    :param database: the name of the database to use
    :type database: str
    :param page_titles: list of page_titles to gather data for
    :type page_titles: str
    :param start_date: First date to gather data for
    :type start_date: datetime.date
    :param end_date: Last date to gather data for
    :type end_date: datetime.date
    '''

    get_ids_query = 
    """
    SELECT 
           p1.page_id  AS page_id,
           p1.page_title AS page_title,
           p1.page_is_redirect AS p1_is_redirect,
           p2.page_id AS rpage_id,
           p2.page_title AS rpage_title,
           p2.page_len rpage_len,
           p2.page_is_redirect AS is_double_redirect
    FROM page AS p1 
    LEFT JOIN redirect AS rd 
        ON p1.page_id=rd.rd_from 
    LEFT JOIN page AS p2 
        ON (rd_namespace = p2.page_namespace)
            AND rd_title = p2.page_title  
    WHERE p1.page_namespace = 0
          AND p1.page_title IN {titles_normalized}
    """

    edits_query = """
    SELECT 
        page_id,
        DATE_FORMAT(rev_timestamp,"%y-%m-%d") AS edit_date,
        revactor_actor
    FROM revision_actor_temp
    JOIN revision ON(revactor_rev = rev_id AND revactor_page = rev_page)
    JOIN page ON rev_page = page.page_id
    WHERE rev_page = page_id
        AND rev_timestamp > 20191010000000 
        AND (rev_deleted & 4) = 0
        AND rev_page IN {titles_normalized}
    GROUP BY revactor_rev
    """


        
    datapoints = []
    
    for row in df:
        ids_r = wmf.mariadb.run(get_ids_query.format(titles_normalized = df['page_title']))
        return ids_r
            
            
            
            for row in x:
                ## Default is that they were autoconfirmed when they made
                ## their tenth edit:
                ac_timestamp = row['wiki_db']
                ac_timestamp = row['article_id']

            datapoints.append(DataPoint(article_id, is_ac, ac_timestamp))

    return(datapoints)

    ---->    
    
    ids_r = wmf.mariadb.run(get_ids_query.format(**wd_vars), 'wiki_db')

    # act on the results 
    #create a df 
    all_surviving_articles = ids_r[['page_id','page_title', 'page_len', 'database_code']] 
    #seperate the redirected items into their own df
    redirects = ids_r.loc[ids_r['p1_is_redirect']==1]
    #pull only p1.page_id, p1.page_title, p1.page_len 
    redirect_df = redirects[['page_id','page_title','page_len', 'database_code']] 

    #remove the redirect items from the all_surviving_articles df & create global articles df
    ids =  all_surviving_articles[~all_surviving_articles.isin(redirect_df)].dropna(how='all')

    #create a new wikicode column using quality_vars['wiki_db']
    #ffill could also work here
    #articles['wikicode'] = quality_vars['wiki_db']
    
    
    ---->
    
    edits_r = wmf.mariadb.run(edits_query.format(**wd_vars), 'wiki_db')
    edits_r.reset_index(drop=True);
    edits_r['edit_date'] = pd.to_datetime(edits_r['edit_date'], format="%y-%m-%d")
    print(edits_r.info())

def connect(server, database, config_file):
    '''
    Connect to a database server.
    :param server: the hostname of the server
    :type server: str
    :param database: the name of the database to use
    :type database: str
    :param config_file: path to the MySQL configuration file to use
                       (os.path.expanduser() is called on this path)
    :type config_file: str
    '''
    db_conn = None
    try:
        db_conn = MySQLdb.connect(db=database,
                                  host=server,
                                  read_default_file=os.path.expanduser(
                                      config_file))
    except MySQLdb.Error as e:
        logging.error('unable to connect to database')
        logging.error('{} : {}'.format(e[0], e[1]))

    return(db_conn)

import re
import bz2
import signal
import logging
import datetime as dt

import db

class SurvivalAnalyzer:
    def __init__(self):
        ## Database setup
        self.db_host = 'analytics-store.eqiad.wmnet'
        self.db_name = 'staging'
        self.db_conf = '~/.my.research.cnf'
        self.db_conn = None # database connection when up

        self.log_host = 'analytics-slave.eqiad.wmnet'
        self.log_name = 'log'
        self.log_conn = None # database connection to the log database when up

    def db_connect(self):
        '''
        Connect to the databases.
        '''

        self.db_conn = db.connect(self.db_host, self.db_name, self.db_conf)
        self.log_conn = db.connect(self.log_host, self.log_name, self.db_conf)
        
    def insert_creations(self, dataset_filename):
        '''
        Go through the given dataset of article creations and insert any
        done by an autoconfirmed user into a table. Connect to the log database
        and make a similar query for creations from it and insert those.
        '''

        ## Query to find non-autopatrolled creations by autoconfirmed users
        creation_query = '''SELECT page_id, rev_timestamp,
                                   performer_user_id, performer_user_edit_count,
                                   IFNULL(
                                       TIMESTAMPDIFF(SECOND,
                                                 performer_user_registration_dt,
                                                 rev_timestamp), 0)
                                   AS performer_account_age
                            FROM mediawiki_page_create_2
                            WHERE `database` = "enwiki"
                            AND page_namespace = 0
                            AND page_is_redirect = 0
                            AND NOT (performer_user_groups
                                     REGEXP "sysop|bot|autoreviewer")
                            AND performer_user_groups REGEXP "confirmed"
                            AND rev_timestamp >= "2017-07-21 00:00:00"
                            AND rev_timestamp < "2018-01-01 00:00:00"'''

        insert_query = '''INSERT INTO nettrom_autoconfirmed_creations
                          VALUES (%s, %s, %s, %s, %s, NULL)'''


    def process_creations(self, start_date, end_date):
        '''
        Get deletions for pages created between `start_date` and `end_date`
        '''

        create_temp_query = '''CREATE TEMPORARY TABLE
                               nettrom_autoconfirmed_deletions (
                               event_page_id INT UNSIGNED NOT NULL,
                               event_deletion_time DATETIME)'''

        ## Page ID and deletion time. This query assumes a page only gets
        ## deleted once. We need to check if that holds.
        insert_temp_query = '''
            INSERT INTO nettrom_autoconfirmed_deletions
            SELECT log_page,
                   STR_TO_DATE(log_timestamp, "%Y%m%d%H%i%S") AS log_time
            FROM nettrom_autoconfirmed_creations ac
            STRAIGHT_JOIN enwiki.logging l
            ON event_page_id=log_page
            WHERE log_type='delete'
            AND log_action='delete'
            AND log_timestamp > DATE_FORMAT(event_timestamp, "%Y%m%d%H%i%S")
            AND DATE(event_timestamp) >= "{start_date}"
            AND DATE(event_timestamp) < "{last_date}"'''


        with db.cursor(self.db_conn, 'dict') as db_cursor:
            db_cursor.execute(create_temp_query)
            logging.info('created temporary table')
            self.db_conn.commit()

        cur_date = start_date
        time_step = dt.timedelta(days=1)
        ## Note: <= because we also need to process _on_ the last date
        while cur_date <= end_date:
            with db.cursor(self.db_conn) as db_cursor:
                ## insert deletions
                db_cursor.execute(insert_temp_query.format(
                    start_date=cur_date, last_date=cur_date + time_step))
            
                ## update database
                db_cursor.execute(update_query)
                
                ## commit
                self.db_conn.commit()

                db_cursor.execute(delete_temp_query)

            logging.info('updated deletions from {} to {}'.format(
                cur_date, cur_date + time_step))

            ## ok, iterate
            cur_date += time_step
        

        # ok, done
        return()

def main():
    import argparse

    def valid_date(d):
        try:
            return(dt.datetime.strptime(d, "%Y-%m-%d").date())
        except ValueError:
            raise argparse.ArgumentTypeError("Please write dates in the preferred format (YYYY-MM-DD)")
    
    cli_parser = argparse.ArgumentParser(
        description="script to process datasets of article creations by autoconfirmed users to determine if the article was deleted"
    )

    # Verbosity option
    cli_parser.add_argument('-v', '--verbose', action='store_true',
                            help='write informational output')

    #cli_parser.add_argument('dataset_file', type=str,
    #                        help='path to the dataset with historic creations')

    cli_parser.add_argument('start_date', type=valid_date,
                            help='start date for gathering data (format: YYYY-MM-DD)')

    cli_parser.add_argument('end_date', type=valid_date,
                            help='end date for gathering data (format: YYYY-MM-DD)')

    
    args = cli_parser.parse_args()

    if args.verbose:
        logging.basicConfig(level=logging.INFO)

    analyzer = SurvivalAnalyzer()
    analyzer.db_connect()
    ## analyzer.insert_creations(args.dataset_file)

    ## no need to keep this connection alive
    db.disconnect(analyzer.log_conn)
    
    analyzer.process_creations(args.start_date, args.end_date)

    # ok, done
    return()
            
if __name__ == "__main__":
    main()

# Morten

## Example 1

In [ ]:
Another example:
def get_mw_regs(wikis, start_timestamp, end_timestamp):

    ## Query to get self-registrations through MediaWiki.
    ## Also grabbing usernames, bot-info in username, bot user group membership.

    ## From Analytics Engineering: https://gerrit.wikimedia.org/r/#/c/analytics/refinery/source/+/504025/
    botUsernamePattern = r"^.*bot([^a-z].*$|$)"
    
    ## Using "CONVERT" to make the regexp case-insensitive
    mw_reg_query = '''
    SELECT "{wiki}" AS wiki,
           user_id, user_name,
           IF(CONVERT (user_name USING utf8) REGEXP "{bot_regex}", 1, 0) AS bot_by_name,
           IF(ug_user IS NOT NULL, 1, 0) AS bot_by_group
    FROM user
    JOIN actor
    ON user_id = actor_user
    JOIN logging
    ON log_actor = actor_id
    LEFT JOIN (
        SELECT ug_user
        FROM user_groups
        WHERE ug_group = "bot"
    ) AS ug
    ON user_id = ug_user
    WHERE user_registration >= "{start_ts}"
    AND user_registration < "{end_ts}"
    AND log_type = "newusers"
    AND log_action = "create" -- only self-creations
    '''
    
    regs = list()
    for wiki in wikis:
        regs.append(
            mariadb.run(
                mw_reg_query.format(
                    wiki = wiki,
                    bot_regex = botUsernamePattern,
                    start_ts = start_timestamp.strftime(utils.mw_format),
                    end_ts = end_timestamp.strftime(utils.mw_format)
                ), wiki
            )
        )
                   
        
    return(pd.concat(regs))

## Example 2

In [ ]:
def add_variant_status(df, timestamps):
    '''
    Connect to the MediaWiki databases for the wikis found
    in the given `pandas.DataFrame` `df` and return a left-joined
    DataFrame with information on experiment/variant status for all users.
    '''

    ## 0: add an 'experiment_group' column, set it to 'homepage' (the default)
    df['experiment_group'] = 'homepage'
    
    ## 1: convert 'reg_ts' to a timestamp
    df['user_reg_ts'] = pd.to_datetime(df['reg_ts'], format = '%Y-%m-%dT%H:%M:%SZ', errors = 'coerce')
    
    ## 2: set everyone registered after the Newcomer Task timestamp to that group
    df.loc[df['user_reg_ts'] >= timestamps['newcomer_tasks'], 'experiment_group'] = 'nt_exp_1'
    
    ## 3: set everyone registered after the variant timestamp to that group
    df.loc[df['user_reg_ts'] >= timestamps['variant_1'], 'experiment_group'] = 'nt_exp_2_var_nopre'
    
    ## 4: query to get info on all users who had pre-initialized Newcomer Tasks,
    ##    set the user group accordingly
    pre_init_query = '''
    SELECT up_user AS user_id
    FROM user_properties
    WHERE up_property = "growthexperiments-homepage-suggestededits-preactivated"
    '''
    
    for wiki in df[‘wiki’].unique():
        preactivated_users = mariadb.run(pre_init_query, wiki)
        
        df.loc[(df['wiki'] == wiki) & (df['user_id'].isin(preactivated_users['user_id'])),
               'experiment_group'] = 'nt_exp_2_var_pre'
        
    ## drop the user_reg_ts column
    df.drop(columns = 'user_reg_ts', inplace = True)
    
    return(df)

In [3]:
import wmfdata as wmf
from wmfdata import charting, mariadb, hive, spark
from wmfdata.utils import pct_str, pd_display_all
import time
import datetime as dt 
from datetime import datetime, timedelta, date
import dateutil


#replace contest start/end date, and country for each GLOW project
contest_start = '2019-10-10'
contest_end = '2020-02-11'
quality_vars = dict(
    country_code  = "IN",
    contest_start = contest_start,
    contest_end   = contest_end,
    contest_start_dt        = datetime.strptime(contest_start, '%Y-%m-%d'),
    contest_end_dt          = datetime.strptime(contest_end, '%Y-%m-%d'),
    contest_end_dt_month    = datetime.strptime(contest_end, '%Y-%m-%d').strftime('%m'),
    contest_end_dt_day      = datetime.strptime(contest_end, '%Y-%m-%d').strftime('%d'),
    contest_end_dt_1M_month = (datetime.strptime(contest_end, '%Y-%m-%d') + timedelta(days=30)).strftime('%m'),
    contest_end_dt_1M_day   = (datetime.strptime(contest_end, '%Y-%m-%d') + timedelta(days=30)).strftime('%d'),
    satwiki_ids =  satwiki_ids,
    )

In [4]:
sa_pvs_r = hive.run("""
SELECT 
   page_id,
   SUM(view_count) AS views_1M
FROM wmf.pageview_hourly 
WHERE 
  year = 2020
  AND (month >= {contest_end_dt_month} AND day >= {contest_end_dt_day}) 
  AND (month <= {contest_end_dt_1M_month} AND day <= {contest_end_dt_1M_day}) 
  AND agent_type = 'user'
  AND country_code = '{country_code}'
  AND project = 'sa.wikipedia'
  AND page_id IN {sawiki_ids}
GROUP BY page_id
""".format(**quality_vars))

'tcy.wiki'

In [ ]:
sa_pvs_all_r = hive.run("""
SELECT 
   page_id,
   SUM(view_count) AS views_1M
FROM wmf.pageview_hourly 
WHERE 
  year = 2020
  AND agent_type = 'user'
  AND project = 'sa.wikipedia'
  AND page_id IN {sawiki_ids}
GROUP BY page_id
""".format(**quality_vars))

In [1]:
import wmfdata as wmf
from wmfdata import charting, mariadb, hive, spark
from wmfdata.utils import pct_str, pd_display_all
import pandas as pd

In [2]:
feb = spark.run("""
SELECT 
   SUM(view_count) AS views_feb
FROM wmf.pageview_hourly 
WHERE 
  year = 2020
  AND month = 2
  AND agent_type = 'user'
  AND country = 'India'
""")

In [4]:
feb

         views_feb
0               30
1                1
2                2
3                1
4             9907
...            ...
7175906          1
7175907          1
7175908          1
7175909          1
7175910          1

[7175911 rows x 1 columns]

In [6]:
TF = feb['views_feb'].sum()

In [7]:
TF

684422760

In [3]:
nov = spark.run("""
SELECT 
   SUM(view_count) AS views_nov
FROM wmf.pageview_hourly 
WHERE 
  year = 2019
  AND month = 11
  AND agent_type = 'user'
  AND country = 'India'
""")

In [5]:
nov

         views_feb
0             1785
1             2801
2             2178
3               15
4                1
...            ...
7088552          1
7088553          1
7088554          1
7088555          1
7088556          1

[7088557 rows x 1 columns]

In [8]:
TN = nov['views_feb'].sum()
TN

764664872

In [ ]:
764,664,872
684,422,760