In [2]:
%run P1G_1_data_handling.ipynb

In [4]:
countries = spark.sql(countries_r.format(**query_vars)).toPandas();

         name iso_code
0     Algeria       DZ
1   Argentina       AR
2       Egypt       EG
3       India       IN
4   Indonesia       ID
5        Iraq       IQ
6      Jordan       JO
7     Lebanon       LB
8     Morocco       MA
9     Nigeria       NG
10    Tunisia       TN

In [ ]:
wikis = spark.sql(wikis_r.format(**query_vars)).toPandas()

In [504]:
wikis.to_csv("./data/glow/wikis.csv", sep=',', encoding = 'utf-8', index=False)

In [ ]:
wikis_c = wikis.copy()
wikis_c = wikis_c.reset_index()
india_wikis = wikis_c.loc[wikis_a['database_code'].isin(india_glow_wiki_dbs_mariadb)]

#### Editors<a class="anchor" id="editors"></a>
[Back to Table of Contents](#toc)

In [11]:
mce = spark.sql(mce_r.format(**query_vars)).toPandas()
mce_c = mce.copy()
merge_in(mce)

   database_code  avg_monthly_content_editors
0         arwiki                  2783.250000
1         aswiki                    36.833333
2         bnwiki                   673.416667
3         enwiki                116314.333333
4         eswiki                 24260.166667
5         guwiki                    62.250000
6         hiwiki                   986.250000
7         idwiki                  2057.333333
8         jvwiki                    55.666667
9         knwiki                   100.000000
10       minwiki                    32.083333
11        mlwiki                   227.750000
12        mrwiki                   168.083333
13        orwiki                    25.000000
14        pawiki                    56.666667
15       pnbwiki                    10.916667
16       satwiki                    16.666667
17        sawiki                     9.833333
18        suwiki                    27.166667
19        tawiki                   276.750000
20       tcywiki                    10.833333
21        tewiki                   124.416667
22        urwiki                   142.916667

In [16]:
mnae = spark.sql(mnae_r.format(**query_vars)).toPandas()
mnae_c = mnae.copy()
merge_in(mnae)

In [ ]:
mne = spark.sql(mne_r.format(**query_vars)).toPandas()
mne_c = mne.copy()
merge_in(mne)

In [ ]:
ner = spark.sql(ner_r.format(**query_vars)).toPandas()
ner_c = ner.copy()
merge_in(ner)

#### Readers<a class="anchor" id="readers"></a>
[Back to Table of Contents](#toc)

In [ ]:
pv_rc = spark.sql(pv_rc_r.format(**query_vars)).toPandas()
pv_rc_c = pv_rc.copy()
merge_in(pv_rc)

#### Devices <a class="anchor" id="article_detail"></a>
[Back to Table of Contents](#toc)

In [ ]:
mca_uds = spark.sql(mca_uds_r.format(**query_vars)).toPandas()
mca_uds_c = mca_uds.copy()
merge_in(mca_uds)

#### Articles<a class="anchor" id="editors"></a>
[Back to Table of Contents](#toc)

In [ ]:
m_new_article_counts = spark.sql(m_new_article_counts_r.format(**query_vars)).toPandas()
m_new_article_counts_c = m_new_article_counts.copy()
merge_in(m_new_article_counts)

In [ ]:
m_new_articles_edited = spark.sql(m_new_articles_edited_r.format(**query_vars)).toPandas()
m_new_articles_edited_c = m_new_articles_edited.copy()
merge_in(m_new_articles_edited)

In [ ]:
eae = spark.sql(eae_r.format(**query_vars)).toPandas()
eae_c = eae.copy()
merge_in(eae)

In [ ]:
dra = spark.sql(dra_r.format(**query_vars)).toPandas()
dra_c = dra.copy()
merge_in(dra)